

/*
* 1. Required for the tooltip to go over the next block
*/

@mixin block-hover-effect {
  transition: transform $dc-transition;

  &:hover {
    transform: translate(0, -4px);
    z-index: 10; /* 1 */
  }
}

/*
* Button utility to remove browser button styles
*/

@mixin button-unstyled {
  background: 0;
  border: 0;
}


/**
 * Strech an element's width and height.
 *
 * Note: This works with both absolute and fixed positioning
 * depending on your use case. Add one of those to make this work.
 * Example use case is a full screen overlay.
 */

@mixin stretch {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
