{
  "presets": [
    "react",
    "env",
    "catalog/babel",
    "stage-2",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 10"]
        }
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-class-properties"
  ]
}
