// *************************************
//
//   DC Globals
//   -> Variables created for re-use globally
//
// *************************************

/**
 * Global Sass variables, all namespaced within "dc-". Must be included before
 * any other partials and a critical path dependency for the styleguide.
 */

/** Spatial */
$dc-multiplier: 2;

// Spatial lists for generating utility classes

// If any spatial options change update toolkit.yml
$dc-spatial: 2 4 8 12 16 24 32 48 64 80 96 128;
$dc-spatial-common: 8 12 16 24 32 48 64;
$dc-measure: 192 256 320 480 640 800 960;
$dc-spatial-all: join($list1: $dc-spatial, $list2: $dc-measure);

// Percentages list for generating utility classes
// If any percentages options change update toolkit.yml
$dc-percentages: 1 5 10 15 20 25 30 40 44 50 60 70 75 80 90 100;

/** Color */

// To add a new color, first add the variable then add the color name to the
// $dc-colors map below which is used to generate utility classes.

// If any colors change update toolkit.yml
// @sass-export-section="color"
$dc-green: #36d57d;
$dc-green-light: #a5ecc5;
$dc-geyser: #cfdce1;
$dc-grey: #686f75;
$dc-grey-dark: #3d4251;
$dc-grey-light: #d1d3d8;
$dc-grey-lighter: #e6eaeb;
$dc-grey-oslo: #859094;
$dc-orange: #ff9400;
$dc-orange-dark: #ad662c;
$dc-porcelain: #f0f4f5;
$dc-primary: #3ac;
$dc-primary-dark: #263e63;
$dc-primary-darker: #14243e;
$dc-primary-darkest: #0c1626;
$dc-primary-light: #7ecce2;
$dc-primary-lighter: #d5eaef;
$dc-primary-lightest: #ebf4f7;
$dc-purple: #8468c4;
$dc-purple-dark: #5d488c;
$dc-purple-light: #a786f3;
$dc-raven: #737a80;
$dc-red: #fe5c5c;
$dc-red-light: #ffb5b5;
$dc-secondary: #ffc844;
$dc-secondary-light: #fbe28d;
$dc-white: #fff;
$dc-white-transparent: rgba($dc-white, 0.2);

// @end-sass-export-section

// Color map
/* stylelint-disable scss/at-function-named-arguments */

// If any colors change update toolkit.yml
$dc-colors: (
  'green': $dc-green,
  'green-light': $dc-green-light,
  'geyser': $dc-geyser,
  'grey': $dc-grey,
  'grey-dark': $dc-grey-dark,
  'grey-light': $dc-grey-light,
  'grey-lighter': $dc-grey-lighter,
  'grey-oslo': $dc-grey-oslo,
  'orange': $dc-orange,
  'orange-dark': $dc-orange-dark,
  'porcelain': $dc-porcelain,
  'primary': $dc-primary,
  'primary-dark': $dc-primary-dark,
  'primary-darker': $dc-primary-darker,
  'primary-darkest': $dc-primary-darkest,
  'primary-light': $dc-primary-light,
  'primary-lighter': $dc-primary-lighter,
  'primary-lightest': $dc-primary-lightest,
  'purple': $dc-purple,
  'purple-dark': $dc-purple-dark,
  'purple-light': $dc-purple-light,
  'raven': $dc-raven,
  'red': $dc-red,
  'red-light': $dc-red-light,
  'secondary': $dc-secondary,
  'secondary-light': $dc-secondary-light,
  'white': $dc-white,
  'white-transparent': $dc-white-transparent,
  'currentColor': currentColor,
  'transparent': transparent
);
/* stylelint-enable */

/** Gradient */
// If any gradients change update toolkit.yml
// @sass-export-section="gradient"
$dc-gradient-primary: linear-gradient(141deg, #2388b0, $dc-primary);
$dc-gradient-primary-dark: linear-gradient(141deg, #20748d, #164d62);
$dc-gradient-primary-light: linear-gradient(180deg, rgba($dc-white, 0), rgba($dc-primary, 0.075));
$dc-gradient-red-light: linear-gradient(180deg, rgba($dc-white, 0), rgba($dc-red, 0.075));
$dc-gradient-secondary: linear-gradient(0deg, $dc-secondary, #fcd86c);
$dc-gradient-chambray-cloudburst: linear-gradient(268deg, #405f8f, #1c3050);
$dc-gradient-puertorico-deyork: linear-gradient(32deg, #37bbab, #75c97e);

// @end-sass-export-section

/** Typography */

// Font family
// @sass-export-section="font"
$dc-font-family-sans-serif: 'lato', sans-serif;
$dc-font-family-mono: 'Roboto Mono', monospace;

// @end-sass-export-section

// Font size
$dc-font-size-base: 16px;
$dc-font-size-micro: 0.75rem;  // 12px
$dc-font-size-small: 0.875rem; // 14px

// Heading size
$dc-font-size-h1: 2.5rem;   // 40px
$dc-font-size-h2: 2rem;     // 32px
$dc-font-size-h3: 1.5rem;   // 24px
$dc-font-size-h4: 1.25rem;  // 20px
$dc-font-size-h5: 1.125rem; // 18px
$dc-font-size-h6: 1rem;     // 16px

// Font weight
$dc-font-weight-bold: 700;
$dc-font-weight-light: 300;
$dc-font-weight-regular: 400;

// @end-sass-export-section

// Line height
// @sass-export-section="lineHeight"
$dc-line-height-base: 1.5;
$dc-line-height-heading: 1.25;

// @end-sass-export-section

/** Border */
// @sass-export-section="border"
$dc-border-radius: 4px;

// @end-sass-export-section

/** Box shadow */
// @sass-export-section="boxShadow"
// Box shadow color
$dc-box-shadow-color: rgba(0, 0, 0, 0.15);

// Box shadows
$dc-box-shadow-border: 0 0 0 1px $dc-grey-lighter;
$dc-box-shadow-sm: 0 1px 2px 0 $dc-box-shadow-color;
$dc-box-shadow-md: 0 1px 3px 0 $dc-box-shadow-color;
$dc-box-shadow-lg: 0 3px 5px 0 $dc-box-shadow-color;
$dc-box-shadow-xl: 0 4px 8px 0 $dc-box-shadow-color;
$dc-box-shadow-xxl: 0 10px 20px 0 $dc-box-shadow-color;
$dc-box-shadow-xl-green: 0 4px 8px 0 rgba($dc-green, 0.3);
$dc-box-shadow-xl-orange: 0 4px 8px 0 rgba($dc-orange, 0.3);
$dc-box-shadow-xl-purple: 0 4px 8px 0 rgba($dc-purple, 0.3);

// @end-sass-export-section

/** Transform */
$dc-angles: 30 45 60 90 180 270 360;

/** Transition */
// @sass-export-section="transition"
$dc-duration: 0.3s;
$dc-ease: cubic-bezier(0.77, 0, 0.175, 1);
$dc-transition: $dc-duration $dc-ease;

// @end-sass-export-section

/** z-index */
$dc-z-indexes: 10 20 30 40 50 60 70 80 90 100 999;

/** Breakpoints */
// @sass-export-section="breakpoints"
// If any breakpoints change update toolkit.yml
$dc-bp-xs: 480px;
$dc-bp-sm: 768px;
$dc-bp-md: 992px;
$dc-bp-lg: 1200px;
$dc-bp-xl: 1366px;
$dc-bp-ws: 1680px;
$dc-bp-4k: 1920px;
$dc-bp-5k: 2560px;

// Breakpoints for max-width media queries
$dc-bp-below-xs: $dc-bp-xs - 1;
$dc-bp-below-sm: $dc-bp-sm - 1;
$dc-bp-below-md: $dc-bp-md - 1;
$dc-bp-below-lg: $dc-bp-lg - 1;
$dc-bp-below-xl: $dc-bp-xl - 1;
$dc-bp-below-ws: $dc-bp-ws - 1;
$dc-bp-below-4k: $dc-bp-4k - 1;
$dc-bp-below-5k: $dc-bp-5k - 1;

// @end-sass-export-section

// Breakpoints map
/* stylelint-disable scss/at-function-named-arguments */
$dc-breakpoints: (
  'xs': $dc-bp-xs,
  'sm': $dc-bp-sm,
  'md': $dc-bp-md,
  'lg': $dc-bp-lg,
  'xl': $dc-bp-xl
);

// hd breakpoints
$dc-breakpoints-hd: (
  'ws': $dc-bp-ws,
  '4k': $dc-bp-4k,
  '5k': $dc-bp-5k
);

// all breakpoints
$dc-breakpoints-all: map-merge($dc-breakpoints, $dc-breakpoints-hd);
/* stylelint-enable */

// Breakpoints for max-width map
/* stylelint-disable scss/at-function-named-arguments */
$dc-breakpoints-below: (
  'xs': $dc-bp-below-xs,
  'sm': $dc-bp-below-sm,
  'md': $dc-bp-below-md,
  'lg': $dc-bp-below-lg,
  'xl': $dc-bp-below-xl
);

// hd max-width breakpoints
$dc-breakpoints-below-hd: (
  'ws': $dc-bp-below-ws,
  '4k': $dc-bp-below-4k,
  '5k': $dc-bp-below-5k
);

// all max-width breakpoints
$dc-breakpoints-below-all: map-merge($dc-breakpoints-below, $dc-breakpoints-below-hd);
/* stylelint-enable */

// Sides
/* stylelint-disable scss/at-function-named-arguments */
$dc-sides: (
  't': top,
  'r': right,
  'b': bottom,
  'l': left,
);
/* stylelint-enable */
