.resizable-elements {
  position: relative;
  height: 100%;
  width: 100%;
}

.resizable-elements__splitter {
  position: relative;
  float: left;
  background-color: transparent;
  z-index: 1;
}
.resizable-elements__splitter:hover,
.resizable-elements__splitter.show {
  background-color: #e5e1da;
}
.resizable-elements__row .resizable-elements__splitter {
  cursor: col-resize;
  height: 100%;
  width: 5px;
}
.resizable-elements__column .resizable-elements__splitter {
  cursor: row-resize;
  width: 100%;
  height: 5px;
}

.resizable-elements__mask {
  background: transparent;
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}
