/**
 * In order to change the tooltip background-color
 * use the ".tooltip-trigger--primary" or ".tooltip-trigger--primary-dark" classes
 * on the triggering element(the one that's being clicked on)
 *
 * Based on the Bootstrap's tooltip style
 */

/* stylelint-disable */
.tooltip {
  background-clip: padding-box;
  background-color: $dc-white;
  border: 1px solid $dc-grey-lighter;
  border-radius: $dc-border-radius;
  color: $dc-grey-dark;
  display: block;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1060;

  /** Offset the tooltip to account for the tooltip tooltip-arrow */
  &.top,
  &.left {
    margin-top: spacing(-2);
  }

  &.bottom,
  &.right {
    margin-top: spacing(2);
  }

  /*
   * 1. Needed to keep the same arrow size as the popovers
   */
  &.top > .tooltip-arrow {
    border-bottom-width: 0;
    border-top-color: $dc-grey-light;
    bottom: -9px;
    left: 50%;
    margin-left: -9px; /* 1 */

    &:after {
      border-bottom-width: 0;
      border-top-color: $dc-white;
      bottom: 1px;
      content: ' ';
      margin-left: -8px; /* 1 */
    }
  }

  &.right > .tooltip-arrow {
    border-left-width: 0;
    border-right-color: $dc-grey-light;
    left: -9px;
    margin-top: -9px; /* 1 */
    top: 50%;

    &:after {
      border-left-width: 0;
      border-right-color: $dc-white;
      bottom: -8px;
      content: ' ';
      left: 1px;
    }
  }

  &.bottom > .tooltip-arrow {
    border-bottom-color: $dc-grey-light;
    border-top-width: 0;
    left: 50%;
    margin-left: -9px; /* 1 */
    top: -9px;

    &:after {
      border-bottom-color: $dc-white;
      border-top-width: 0;
      content: ' ';
      margin-left: -8px; /* 1 */
      top: 1px;
    }
  }

  &.left > .tooltip-arrow {
    border-left-color: $dc-grey-light;
    margin-top: -9px; /* 1 */
    right: -9px;
    top: 50%;

    &:after {
      border-left-color: $dc-white;
      border-right-width: 0;
      bottom: -8px;
      content: ' ';
      right: auto;
    }
  }
}

/** Wrapper for the tooltip content */
.tooltip-inner {
  padding: spacing(2);
  text-align: center;
  width: 208px;
}

.tooltip-content {
  padding: spacing(2) spacing(3);
}

/** Arrows */
.tooltip > .tooltip-arrow {
  border-width: 9px;

  &:after {
    border-width: 8px;
    content: ' ';
  }

  &,
  &:after {
    border-color: transparent;
    border-style: solid;
    display: block;
    height: 0;
    position: absolute;
    width: 0;
  }
}


/** This class should be used on the triggering element */
.tooltip-trigger--primary {
  & + .tooltip {
    background-color: $dc-primary;
    border: 0;
    color: $dc-white;

    &.top > .tooltip-arrow {
      border-top-color: transparent;

      &:after {
        border-top-color: $dc-primary;
      }
    }

    &.right > .tooltip-arrow {
      border-right-color: transparent;

      &:after {
        border-right-color: $dc-primary;
      }
    }

    &.bottom > .tooltip-arrow {
      border-bottom-color: transparent;

      &:after {
        border-bottom-color: $dc-primary;
      }
    }

    &.left > .tooltip-arrow {
      border-left-color: transparent;

      &:after {
        border-left-color: $dc-primary;
      }
    }
  }
}

/** This class should be used on the triggering element */
.tooltip-trigger--primary-dark {
  & + .tooltip {
    background-color: $dc-primary-dark;
    border: 0;
    color: $dc-white;

    &.top > .tooltip-arrow {
      border-top-color: transparent;

      &:after {
        border-top-color: $dc-primary-dark;
      }
    }

    &.right > .tooltip-arrow {
      border-right-color: transparent;

      &:after {
        border-right-color: $dc-primary-dark;
      }
    }

    &.bottom > .tooltip-arrow {
      border-bottom-color: transparent;

      &:after {
        border-bottom-color: $dc-primary-dark;
      }
    }

    &.left > .tooltip-arrow {
      border-left-color: transparent;

      &:after {
        border-left-color: $dc-primary-dark;
      }
    }
  }
}
/* stylelint-enable */
